body {
    margin: 0;
    background: #F5F5F5;
} 

main{
    font-family: 'Smythe';
}

.hero{
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    color: white;
    height: 180px;
    background-image: url("images/ferks-guare-KEZdWfYD-ow-unsplash.jpg");
    background-size: cover;
}

.hero-text{
    padding: 30px 0px 20px 30px;
    font-family: 'Smythe';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
}

.product-section{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-bottom: 1px solid #8B8B8B;
    height: 130px;
}

.product-details{
    line-height: 10px;
    margin-left: 25px;

}

h5{
    font-size: 85px;
    margin: 0;
    padding: 18px 0px 18px 10px;

}

h3{
   font-size: 28px; 
   line-height: 7px; 
}

h4{
    font-size: 16px;
    color: #8B8B8B;
    line-height: 7px;
}

h2{
    font-size: 20px;
}

.product-button{
    width: 50px;
    height: 50px;
    left: 504px;
    top: 427px;
    border-radius: 50%;
    border: #DEDEDE 1px solid;
    margin: auto;
    background: #F5F5F5;
    font-weight: lighter;
    font-size: 25px;
    cursor: pointer;
}

.remove-btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    color: #BBBBBB;
    background-color: #F5F5F5;
    font-weight: 100px;
    font-size: 18px;
    margin: 4px 0px 0px 10px;
    cursor: pointer;
}

.your-order{
    text-align: center;
    padding: 20px;
}

.order-tab{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    
}

.product-price{
    margin: 35px 10px 0px auto;
    font-size: 20px;
}

.total{
    border-top: solid 2px #393333;
}

.total-price{
   margin: 20px 10px 0px auto; 
   font-size: 25px;
}

#complete-btn{
    width: 400px;
    height: 50px;
    margin: 0px auto 10px;
    border-radius: 4px;
    border: none;
    background-color: #16DB99;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

.flex{
    display: flex;
    width: 400px;
}

.hidden{
    display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

#modal-inner{
    box-shadow: 5px 5px 70px 20px gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 350px;
    height: 380px;
    background-color: #FFFFFF;   
    border-radius: 3px;
}

input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
    padding: 10px;
    font-size: 14px;
    width: 255px;
}

.payment-btn{
    width: 280px;
    height: 40px;
    margin: 20px auto 10px;
    border-radius: 4px;
    border: none;
    background-color: #16DB99;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

.modal-text{
    padding: 25px 30px 10px;
}

.thank-msg{
    background-color: #ECFDF5;
    padding: 30px;
    color: #065F46;
    margin-top: 45px;
    border-radius: 5px;
}